version: v1

id:
  org: xxxxxxxxxx-465a-4087-9b62-xxxxxxxxxx
  app: xxxxxxxxxx-0a97-4ad1-87e7-xxxxxxxxxx

dast:
  url: http://<ip or fqdn>:<port>
  fortipentest_scanner: false #true|false
  full_scan: true #true|false